[submodule "camera_manager"]
	path = src/camera_manager
	url = https://github.com/samkwok-hkclr/camera_manager
	branch = master

[submodule "realsense-ros"]
	path = src/external_libraries/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
	branch = tags/4.54.1

[submodule "nachi_mz07l"]
	path = src/nachi_mz07l
	url = https://github.com/samkwok-hkclr/nachi_mz07l
	branch = master

[submodule "nachi_robot"]
	path = src/nachi_robot
	url = https://github.com/samkwok-hkclr/nachi_robot
	branch = master

[submodule "robot_controller"]
	path = src/robot_controller
	url = https://github.com/samkwok-hkclr/robot_controller
	branch = master

[submodule "robot_controller_msgs"]
	path = src/robot_controller_msgs
	url = https://github.com/samkwok-hkclr/robot_controller_msgs
	branch = master

[submodule "robotic_platform"]
	path = src/robotic_platform
	url = https://github.com/samkwok-hkclr/robotic_platform
	branch = master

[submodule "robotic_platform_msgs"]
	path = src/robotic_platform_msgs
	url = https://github.com/samkwok-hkclr/robotic_platform_msgs
	branch = master

[submodule "vacuum_gripper"]
	path = src/vacuum_gripper
	url = https://github.com/samkwok-hkclr/vacuum_gripper
	branch = master

[submodule "vision_recognition"]
	path = src/vision_recognition
	url = https://github.com/samkwok-hkclr/vision_recognition
	branch = master

[submodule "ros_gateway"]
	path = src/ros_gateway
	url = https://github.com/HKCLR2021/ros_gateway
	branch = master