[submodule "src/can_transceiver"]
	path = src/can_transceiver
	url = https://github.com/samkwok-hkclr/can_transceiver
	branch = master

[submodule "src/elevation_platform/elevation_platform"]
	path = src/elevation_platform/elevation_platform
	url = https://github.com/samkwok-hkclr/elevation_platform
	branch = master

[submodule "src/elevation_platform/elevation_platform_msgs"]
	path = src/elevation_platform/elevation_platform_msgs
	url = https://github.com/samkwok-hkclr/elevation_platform_msgs
	branch = master

[submodule "src/nachi_mz07l"]
	path = src/nachi_mz07l
	url = https://github.com/samkwok-hkclr/nachi_mz07l
	branch = master

[submodule "src/nachi_robot"]
	path = src/nachi_robot
	url = https://github.com/samkwok-hkclr/nachi_robot
	branch = master

[submodule "src/robot_controller/robot_controller"]
	path = src/nachi_robot/robot_controller
	url = https://github.com/samkwok-hkclr/robot_controller
	branch = master

[submodule "src/robot_controller/robot_controller_msgs"]
	path = src/nachi_robot/robot_controller_msgs
	url = https://github.com/samkwok-hkclr/robot_controller_msgs
	branch = master

[submodule "src/ultrasonic_sensor"]
	path = src/ultrasonic_sensor
	url = https://github.com/samkwok-hkclr/ultrasonic_sensor
	branch = master

[submodule "src/vacuum_gripper"]
	path = src/vacuum_gripper
	url = https://github.com/samkwok-hkclr/vacuum_gripper
	branch = master

[submodule "src/external_libraries/ros2_socketcan"]
	path = src/external_libraries/ros2_socketcan
	url = https://github.com/autowarefoundation/ros2_socketcan
	branch = humble

[submodule "src/external_libraries/ros2_canopen"]
	path = src/external_libraries/ros2_canopen
	url = https://github.com/ros-industrial/ros2_canopen
	branch = humble

[submodule "src/external_libraries/realsense-ros"]
	path = src/external_libraries/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
	branch = ros2-master