<?xml version="1.0"?>

<robot name="dual_arm_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find robostore_bringup)/urdf/materials.xacro" />

  <xacro:arg name="left_arm_sim" default="true" />
  <xacro:arg name="left_arm_can_interface" default="can0" />

  <xacro:arg name="right_arm_sim" default="true" />
  <xacro:arg name="right_arm_can_interface" default="can1" />

  <xacro:property name="M_PI" value="3.14159265359" />
  <xacro:property name="M_PI_2" value="1.57079632679" />

  <xacro:macro name="dual_arm_in_table" params="
    name 
    parent 
    *origin 
    left_arm_sim
    left_arm_can_interface
    right_arm_sim
    right_arm_can_interface">

    <xacro:property name="M_PI" value="3.14159265359" />
    <xacro:property name="M_PI_2" value="1.57079632679" />

    <xacro:include filename="$(find dual_arm_description)/urdf/dual_arm_w_mdh.urdf.xacro" />
    <xacro:include filename="$(find dual_arm_configure)/config/dual_arm.ros2_control.xacro" />

    <xacro:include filename="$(find dual_arm_robot)/robot_model/left_eef.urdf.xacro" />
    <xacro:include filename="$(find dual_arm_robot)/robot_model/right_eef.urdf.xacro" />

    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

    <xacro:arg name="use_nominal_extrinsics" default="false"/>

    <xacro:property name="left_eef_name" default="left_eef"/>
    <xacro:property name="right_eef_name" default="right_eef"/>

    <xacro:arg name="to_be_done" default="false"/>

    <xacro:dual_arm name="dual_arm" parent="${parent}">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:dual_arm>

    <xacro:dual_arm_ros2_control 
      sim_left="$(arg left_arm_sim)"
      can_interface_left="$(arg left_arm_can_interface)"
      sim_right="$(arg right_arm_sim)"
      can_interface_right="$(arg right_arm_can_interface)"
      namespace="upper_orin" />

    <xacro:sensor_d435 
      parent="${left_eef_name}_camera_base_link" 
      name="left_camera" 
      use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:sensor_d435>

    <xacro:left_eef name="${left_eef_name}" parent="link7_left">
      <origin xyz="0.0335 0 0" rpy="0 0 ${-M_PI_2}"/>
    </xacro:left_eef>

    <xacro:sensor_d435 
      parent="${right_eef_name}_camera_base_link" 
      name="right_camera" 
      use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:sensor_d435>

    <xacro:right_eef name="${right_eef_name}" parent="link7_right">
      <origin xyz="0.0335 0 0" rpy="0 0 ${-M_PI_2}"/>
    </xacro:right_eef>

  </xacro:macro>

  <link name="base_footprint"/>

  <joint name="base_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="base_link"/>

  <joint name="table_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="table_base_link"/>
  </joint>

  <link name="table_base_link">
    <visual>
      <origin xyz="0 0 0.395" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.79"/>
      </geometry>
      <material name="">
        <color rgba="0.6 0.1960 0.8 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0.395" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.79"/>
      </geometry>
    </collision>
  </link>

  <joint name="dual_arm_robot_base_joint" type="fixed">
    <origin xyz="0.1 0 0.805" rpy="0 0 0"/>
    <parent link="table_base_link"/>
    <child link="dual_arm_base_link"/>
  </joint>

  <link name="dual_arm_base_link"/>

  <xacro:dual_arm_in_table
    name="dual_arm_robot" 
    parent="dual_arm_base_link"
    left_arm_sim="$(arg left_arm_sim)"
    left_arm_can_interface="$(arg left_arm_can_interface)"
    right_arm_sim="$(arg right_arm_sim)"
    right_arm_can_interface="$(arg right_arm_can_interface)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:dual_arm_in_table>

  <!-- <link name="box_table_base_link">
    <visual>
      <origin xyz="0 0 0.3175" rpy="0 0 0"/>
      <geometry>
        <box size="0.73 0.5 0.635"/>
      </geometry>
      <material name="">
        <color rgba="0.95 0.95 0.95 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0.3175" rpy="0 0 0"/>
      <geometry>
        <box size="0.73 0.5 0.635"/>
      </geometry>
    </collision>
  </link>

  <joint name="box_table_joint" type="fixed">
    <origin xyz="0.625 0 0" rpy="0 0 0"/>
    <parent link="table_base_link"/>
    <child link="box_table_base_link"/>
  </joint>

  <link name="box_in_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robostore_bringup/meshes/visual/material_box.STL" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robostore_bringup/meshes/visual/material_box.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="box_in_joint" type="fixed">
    <origin xyz="-0.355 0.245 0.635" rpy="0 0 -${M_PI_2}"/>
    <parent link="box_table_base_link"/>
    <child link="box_in_link"/>
  </joint>

  <link name="box_out_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robostore_bringup/meshes/visual/material_box.STL" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robostore_bringup/meshes/visual/material_box.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="box_out_joint" type="fixed">
    <origin xyz="0 0.245 0.635" rpy="0 0 -${M_PI_2}"/>
    <parent link="box_table_base_link"/>
    <child link="box_out_link"/>
  </joint> -->


</robot>