<?xml version="1.0" encoding="utf-8"?>

<robot name="place_location" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="place_location" params="parent prefix index *origin">

    <joint name="${prefix}_place_${index}_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}_place_${index}_link" />
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${prefix}_place_${index}_link" />

  </xacro:macro>
  
</robot>