<?xml version="1.0" encoding="utf-8"?>

<robot name="rack" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robostore_bringup)/urdf/shelf.urdf.xacro" />

  <xacro:macro name="rack" params="name id parent *origin">

    <xacro:property name="stand_width" value="0.07"/>
    <xacro:property name="stand_depth" value="0.5"/>
    <xacro:property name="stand_height" value="2.025"/>

    <xacro:property name="stand_distance" value="1.105"/>

    <joint name="${name}_${id}_base_joint" type="fixed">
      <joint_properties damping="1" friction="1" />
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_${id}_base_link" />
    </joint>

    <link name="${name}_${id}_base_link" />

    <joint name="stand_a_joint" type="fixed">
      <parent link="${name}_${id}_base_link" />
      <child link="stand_a_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="stand_a_link">
      <visual>
        <origin xyz="${stand_width/2} ${stand_depth/2} ${stand_height/2}" rpy="0 0 0" />
        <geometry>
          <box size="${stand_width} ${stand_depth} ${stand_height}"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="${stand_width/2} ${stand_depth/2} ${stand_height/2}" rpy="0 0 0" />
        <geometry>
          <box size="${stand_width} ${stand_depth} ${stand_height}"/>
        </geometry>
      </collision>
    </link>

    <joint name="stand_b_joint" type="fixed">
      <parent link="stand_a_link" />
      <child link="stand_b_link" />
      <origin xyz="${stand_distance} 0 0" rpy="0 0 0"/>
    </joint>

    <link name="stand_b_link">
      <visual>
        <origin xyz="${stand_width/2} ${stand_depth/2} ${stand_height/2}" rpy="0 0 0" />
        <geometry>
          <box size="${stand_width} ${stand_depth} ${stand_height}"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="${stand_width/2} ${stand_depth/2} ${stand_height/2}" rpy="0 0 0" />
        <geometry>
          <box size="${stand_width} ${stand_depth} ${stand_height}"/>
        </geometry>
      </collision>
    </link>

    <xacro:shelf parent="${name}_${id}_base_link" prefix="${name}_${id}" level="1" stand_width="${stand_width}" height="0.452">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:shelf>

    <xacro:shelf parent="${name}_${id}_base_link" prefix="${name}_${id}" level="2" stand_width="${stand_width}" height="0.751">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:shelf>

    <xacro:shelf parent="${name}_${id}_base_link" prefix="${name}_${id}" level="3" stand_width="${stand_width}" height="1.351">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:shelf>

    <xacro:shelf parent="${name}_${id}_base_link" prefix="${name}_${id}" level="4" stand_width="${stand_width}" height="1.875">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:shelf>

  </xacro:macro>
  
</robot>